</div>
</main>
<footer>
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Mary Grace Digman - Book Notes</p>
  </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>